{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>4Soft4 - Rent A Car</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png' %}" rel="icon">
  <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css"
    integrity="sha512-Po8rrCwchD03Wo+2ibHFielZ8luDAVoCyE9i6iFMPyn9+V1tIhGk5wl8iKC9/JfDah5Oe9nV8QzE8HHgjgzp3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.css"
    integrity="sha512-OodagY/LAbXf1TAkypAk+8OWjR+wGA8k3H7TGH+gku7+VsOmJRCQ2pTQJoTo/bATGwTOFdypCXqMV8snRZkC+w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Jquery CSS Files -->
  <script src="https://code.jquery.com/jquery-3.6.2.min.js"
    integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

  <!-- Jquery Date Tables-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
    integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"
    integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">

  <!-- Bootstrap ICons -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
  <!-- Custom Css -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <!-- Custom script -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
 
  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


<body>

  <!-- ======= Header ======= -->
  <nav id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/fleet/" class="logo d-flex align-items-center">
        <img src="{% static '/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">4Soft4</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="fa-solid fa-money-bill-transfer"></i>
            {% for reminder in reminders %}
            {% if reminder.type == 'count' %}
            {% with counter=reminder.rent_count %}
            <span class="badge bg-primary badge-number">{{counter}}</span>
          </a><!-- End Notification Icon -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have {{counter}} contracts with debt
              <a href="/fleet/contract-in-debt/"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            {% endwith %}
            {% endif %}
            {% endfor %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for reminder in reminders %}
            {% if reminder.reminder_type_id == 1 %}
            <li class="notification-item">
              <img src="{% static '/img/car_rental.jpg' %}" style="width:95px;height:95px" alt="" class="rounded-circle">
              <div>
                <h4 style="color:blue;font-size:15px">{{reminder.title}}</h4>
                <p style="color:#5072A7;font-size:15px">{{reminder.content}}</p>
                <!--p>30 min. ago</p-->
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}


          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="fa-solid fa-car"></i>
            {% for reminder in reminders %}
            {% if reminder.type == 'count' %}
            {% with counter=reminder.return_vehicle %}
            <span class="badge bg-primary badge-number">{{counter}}</span>
            <span class="badge bg-success badge-number">{{counter}}</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have {{counter}} vehicles returning soon
              <a href="/fleet/instant-availability/"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            {% endwith %}
            {% endif %}
            {% endfor %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for reminder in reminders %}
            {% if reminder.reminder_type_id == 2 %}
            <li class="message-item">
              <a href="#">
                <img src="{% static '/img/mitsubishi.png' %}" alt="" class="rounded-circle">
                <div>
                  <h4>{{reminder.title}}</h4>
                  <p style="font-size:15px">{{reminder.content}}</p>
                  <!--p>4 hrs. ago</p-->
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}

          </ul><!-- End Messages Dropdown Items -->
          <li class="nav-item dropdown">

            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i>
              {% for reminder in reminders %}
              {% if reminder.type == 'count' %}
              {% with counter=reminder.reminders_count %}
            <span class="badge bg-primary badge-number">{{counter}}</span>
              <span class="badge bg-success badge-number">{{counter}}</span>
            </a><!-- End Messages Icon -->
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
              <li class="dropdown-header">
                You have {{counter}} vehicle payment reminders
                <a href="/fleet/vehicle-payment/"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
              </li>
              {% endwith %}
              {% endif %}
              {% endfor %}
              <li>
                <hr class="dropdown-divider">
              </li>
              {% for reminder in reminders %}
              {% if reminder.reminder_type_id == 4 %}
              <li class="message-item">
                <a href="#">
                  <i class="bi bi-bell" style="height:25px;width:25px"></i>
                  <div>
                    <h4>{{reminder.title}}</h4>
                    <p>{{reminder.content}}</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              {% endif %}
              {% endfor %}
            </li>
  
            </ul><!-- End of vehicle reminders -->
            

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static '/img/App/users/4.jpg' %}" alt="Profile" class="rounded-circle">
            {% if user.is_authenticated %}
            <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user}}</span>
            {% endif %}
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              {% if user.is_authenticated %}
              <h6>{{request.user}}</h6>
              {% endif %}
              {% if user.is_authenticated %}
              <span>{{request.group}}</span>
              {% endif %}
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/fleet/my-account/">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/./authentication/admin-logout/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </nav><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href='/fleet/'>
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#customerMan-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-regular fa-circle-user"></i><span>Customer Management</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="customerMan-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/fleet/customer-create/">
              <i class="fa-solid fa-user-plus"></i><span>New Customer</span>
            </a>
          </li>
          <li>
            <a href="/fleet/my-customer/">
              <i class="fa-solid fa-users"></i></i><span>My Customers</span>
            </a>
          </li>

        </ul>
      </li>
      <!-- End Customer Management Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#rentaCar-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-car"></i><span>Rent A Car</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="rentaCar-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/fleet/contract-create/">
              <i class="fa-solid fa-pen-to-square"></i><span>New Contract</span>
            </a>
          </li>
          <li>
            <a href="/fleet/reservation-create/">
              <i class="bi bi-clipboard-check-fill"></i><span>New Reservation</span>
            </a>
          </li>
          <li>
            <a href="/fleet/contracts/">
              <i class="bi bi-file-text-fill"></i><span>Vehicle Sales Contract</span>
            </a>
          </li>
          <li>
            <a href="/fleet/reservations/">
              <i class="bi bi-stickies-fill"></i><span>My Reservation</span>
            </a>
          </li>
          <li>
            <a href="/fleet/instant-availability/">
              <i class="bx bxs-alarm-exclamation"></i><span>Instant Availbility</span>
            </a>
          </li>
          <li>
            <a href="/fleet/general-availability/">
              <i class="bi bi-calendar-date-fill"></i><span>General Availbility</span>
            </a>
          </li>
          <li>
            <a href="/fleet/additional-service/">
              <i class="ri ri-checkbox-multiple-fill"></i><span>Additional Service Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#route-nav" data-bs-toggle="collapse" href="#">
              <i class="fa-solid fa-signs-post"></i><span>Route Management</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="route-nav" class="nav-content collapse " data-bs-parent="#rentaCar-nav">

              <li>
                <a href="/fleet/regions/">
                  <i class="fa-solid fa-globe"></i><span>Regions</span>
                </a>
              </li>

              <li>
                <a href="/fleet/region-create/">
                  <i class="fa-solid fa-square-plus"></i><span>Add Region</span>
                </a>
              </li>

              <li>
                <a href="/fleet/stops/">
                  <i class="bi bi-geo-alt-fill"></i><span>Stops</span>
                </a>
              </li>

              <li>
                <a href="/fleet/stop-create/">
                  <i class="fa-solid fa-square-plus"></i></i><span>Add Stop</span>
                </a>
              </li>

            </ul>
          </li>
        </ul>
      </li>
      <!-- End Rent A Car Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#vhicleMan-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-screwdriver-wrench"></i><span>Vehicle Management</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="vhicleMan-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#mytools-nav" data-bs-toggle="collapse" href="#">
              <i class="fa-solid fa-truck"></i><span>My Tools</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="mytools-nav" class="nav-content collapse " data-bs-parent="#vhicleMan-nav">

              <li>
                <a href="/fleet/vehicle/">
                  <i class="fa-solid fa-truck-fast"></i><span>Vehicle List</span>
                </a>
              </li>

              <li>
                <a href="/fleet/vehicle-create/">
                  <i class="fa-solid fa-square-plus"></i><span>Add Vehicle</span>
                </a>
              </li>

            </ul>
          </li>

          <li>
            <a href="/fleet/vehicle-history/">
              <i class="fa-solid fa-clock-rotate-left"></i><span>Vehicle History</span>
            </a>
          </li>
          <li>
            <a href="/fleet/vehicle-maintenance-record/">
              <i class="bx bxs-car-mechanic"></i><span>Vehicle Maintenance Records</span>
            </a>
          </li>
          <li>
            <a href="/fleet/car-care/">
              <i class="bi bi-gear-fill"></i><span>Car Care</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#vehicleType-nav" data-bs-toggle="collapse" href="#">
              <i class="fa-solid fa-share-nodes"></i><span>Vehicle Type</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="vehicleType-nav" class="nav-content collapse " data-bs-parent="#vhicleMan-nav">

              <li>
                <a href="/fleet/vehicle-type/">
                  <i class="bx bxs-chevrons-right"></i><span>Vehicle Type</span>
                </a>
              </li>

              <li>
                <a href="/fleet/vehicleType-create">
                  <i class="fa-solid fa-square-plus"></i><span>Add Vehicle Type</span>
                </a>
              </li>

            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#vehicleBrand-nav" data-bs-toggle="collapse" href="#">
              <i class="fa-solid fa-copyright"></i><span>Vehicle Brand</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="vehicleBrand-nav" class="nav-content collapse " data-bs-parent="#vhicleMan-nav">

              <li>
                <a href="/fleet/vehicle-Brand/">
                  <i class="bx bxs-chevrons-right"></i><span>Vehicle Brand</span>
                </a>
              </li>

              <li>
                <a href="/fleet/vehicleBrand-create/">
                  <i class="fa-solid fa-square-plus"></i><span>Add Vehicle Brand</span>
                </a>
              </li>

            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#vehicleModel-nav" data-bs-toggle="collapse" href="#">
              <i class="fa-solid fa-tags"></i><span>Vehicle Model</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="vehicleModel-nav" class="nav-content collapse " data-bs-parent="#vhicleMan-nav">

              <li>
                <a href="/fleet/vehicle-model/">
                  <i class="bx bxs-chevrons-right"></i><span>Vehicle Model</span>
                </a>
              </li>

              <li>
                <a href="/fleet/vehicleModel-create/">
                  <i class="fa-solid fa-square-plus"></i><span>Add Vehicle Model</span>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </li>
      <!-- End Vehicle Management Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#author-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-user-lock"></i><span>Authorization</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="author-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/fleet/my-account/">
              <i class="bi bi-shield-lock-fill"></i><span>My Account</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Authorization Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#accounting-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Accounting</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="accounting-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/fleet/safe/">
              <i class="ri ri-safe-fill"></i><span>Safe</span>
            </a>
          </li>
          <li>
            <a href="/fleet/income-report/">
              <i class="bi bi-clipboard-minus"></i><span>Income Report</span>
            </a>
          </li>
          <li>
            <a href="/fleet/expense-report/">
              <i class="bi bi-clipboard-plus"></i><span>Expense Report</span>
            </a>
          </li>
          <li>
            <!-- Double tree inside each other -->
            <a class="nav-link collapsed" data-bs-target="#mybook-nav" data-bs-toggle="collapse" href="#">
              <i class="fa-solid fa-book"></i><span>My Accounting Book</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="mybook-nav" class="nav-content collapse " data-bs-parent="#accounting-nav">

              <li>
                <a href="/fleet/current-accounts/">
                  <i class="bx bxs-chevrons-right"></i><span>All Records</span>
                </a>
              </li>

              <li>
                <a href="/fleet/vehicle-expenses/">
                  <i class="bx bxs-chevrons-right"></i><span>Vehicle Expense</span>
                </a>
              </li>

              <li>
                <a href="/fleet/collections/">
                  <i class="fa-solid fa-hand-holding-dollar"></i><span>Collection</span>
                </a>
              </li>

              <li>
                <a href="/fleet/expenses/">
                  <i class="fa-solid fa-minus"></i><span>Expense Records</span>
                </a>
              </li>

              <li>
                <a href="/fleet/sales-create/">
                  <i class="fa-solid fa-plus"></i><span>Sales Invoice</span>
                </a>
              </li>

              <li>
                <a href="/fleet/vehicle-expense-create/">
                  <i class="fa-solid fa-square-plus"></i><span>Add Vehicle Expense Record</span>
                </a>
              </li>

            </ul>
          </li>

          <!-- Double tree inside each other -->

          <li>
            <a class="nav-link collapsed" data-bs-target="#currentAccount-nav" data-bs-toggle="collapse" href="#">
              <i class="fa-solid fa-list-check"></i><span>Current Accounts</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="currentAccount-nav" class="nav-content collapse " data-bs-parent="#accounting-nav">

              <li>
                <a href="/fleet/current-accounts/">
                  <i class="bx bxs-chevrons-right"></i><span>All Curent Accounts</span>
                </a>
              </li>

              <li>
                <a href="/fleet/account-create/">
                  <i class="fa-solid fa-square-plus"></i></i><span>Add Current Account</span>
                </a>
              </li>

              <li>
                <a href="/fleet/merge-account/">
                  <i class="fa-solid fa-object-group"></i><span>Merge Current Account</span>
                </a>
              </li>

              <li>
                <a href="/fleet/current-account-status/">
                  <i class="bx bx-trending-up"></i><span>Status Statement</span>
                </a>
              </li>

              <li>
                <a href="/fleet/current-account-statement/">
                  <i class="bi bi-stickies-fill"></i><span>Account Statement</span>
                </a>
              </li>

            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#accountItems-nav" data-bs-toggle="collapse" href="#">
              <i class="fa-solid fa-chart-pie"></i><span>Accounting Items</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="accountItems-nav" class="nav-content collapse " data-bs-parent="#accounting-nav">

              <li>
                <a href="/fleet/items/">
                  <i class="bx bxs-chevrons-right"></i><span>All Items</span>
                </a>
              </li>

              <li>
                <a href="/fleet/item-create/">
                  <i class="fa-solid fa-square-plus"></i><span>Add New Item</span>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </li>
      <!-- End Accounting Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#reminder-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-bell"></i><span>Reminders</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="reminder-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/fleet/vehicle-payment/">
              <i class="bi bi-calendar-day-fill"></i><span>Vehicle Payment Reminders</span>
            </a>
          </li>
          <li>
            <a href="/fleet/add-vehicle-payment/">
              <i class="fa-solid fa-square-plus"></i><span>Add Vehicle Payment Reminders</span>
            </a>
          </li>
          <li>
            <a href="/fleet/bulk-vehicle-payment/">
              <i class="fa-solid fa-square-plus"></i><span>Bulk Add Vehicle Payment Reminders</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>


  </aside>
  <!-- End Sidebar-->



  <main id="main" class="main content">
    <div class="container-fluid">
      {% block content %}
      {% endblock content %}


    </div>
  </main><!-- End Page Title -->

  <footer id="footer" class="footer" style="position:relative">

    <div class="copyright">
      &copy; Copyright <strong><span>4Soft4</span></strong>. All Rights Reserved
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static '/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static '/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static '/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static '/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>
  <script src="{% static 'calender/main.js' %}"></script>

  <!-- Made script -->
  <!-- <script src="{% static 'js/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>  -->
  <!-- The javascript plugin to display page loading on top -->
  <!-- <script src="{% static 'js/plugins/pace.min.js'%}"></script> -->

  {% block extra_css %}
  {% endblock extra_css %}
  {% block page_script %}
  {% endblock %}

</body>

</html>