{% extends 'layout.html' %}


{% block content %}

<div class="pageholder">

    <div class="row">
        <div class="col-md-12">
            <div class="card border border-primary bg bg-white">
                <div class="card-header bg-primary">
                    <h3 class="card-title text-white">ACCOUNT HISTORY </h3>
                </div>

                <div class="linkholder" class="border border-primary" style="margin:80px 30px 40px 30px">

                    <span id="just_id" style="display:none">{{id}}</span>

                    <table id="contract" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Account Name</th>
                            <th>Amount</th>
                            <th>Currency</th>
                            <th>Notes</th>
                            <th>Registration date</th>
                        </tr>
                        </thead>
                        <tfoot>
                            <tr >
                                <th>id</th>
                                <th>Account Name</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Notes</th>
                                <th>Registration date</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block page_script %}
<script>
    $(document).ready(function () {
        console.log($('#just_id').text())
        var id_account=$('#just_id').text()
        var json_url='http://127.0.0.1:8000/fleet/account-history-json/'+id_account
        $.noConflict();
        var dataSet = [];
        {
        }
        $.ajax({
            url:json_url,
            dataType: "json",
            error: function (request) {
                alert("Error " + request);
            },
            success: function (array) {
                for (var i = 0; i < array.length; i++) {
                    dataSet.push([array[i].id
                        , array[i].account_name
                        , array[i].amount
                        , array[i].currency
                        , array[i].notes
                        , array[i].registration_date
                    ]);
                }
                var table = $('#contract').DataTable({
                    data: dataSet

                });

                $("#contract tbody").on("dblclick", 'tr', function () {

                    var row = table.row(this).data();
                    var id = row[0];
                    // alert("id" + id);
                    var url = 'http://192.168.5.121:8000/fleet/contract-edit/' + id;
                    var options = 'width=800,height=600,scrollbars=no,menubar=no,status=yes,resizable=yes,screenx=200,screeny=0';
                    var open_mode = "_blank";
                    window.open(url, open_mode, options);
                });
            }
        });
    });
</script>
{% endblock %}
{% block extra_css %}
    i{
        background-color:white;
    }
{% endblock %}