{% extends 'layout.html' %}


{% block content %}
{% block extra_css %}
<style>
    .extend {
        /* display: flex; */
        /* justify-content:flex-end; */
        position: relative;
        width: auto;
        height: auto;
    }

    .extend .btn_customer {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .extend .btn_contract {
        position: absolute;
        top: 2rem;
        right: 12rem;
    }

    .extend .btn_reservation {
        position: absolute;
        top: 2rem;
        right: 21.25rem;
    }

    .extend .btn_report {
        position: absolute;
        top: 2rem;
        right: 32rem;
    }
</style>
{% endblock extra_css %}
<div class="pageholder">

    <div class="row">
        <div class="col-md-12">
            <div class="card border border-primary bg bg-white">
                <div class="card-header bg-primary">
                    <h3 class="card-title text-white">My Customers</h3>
                </div>

                <div class="extend">
                    <button type="button" class="btn btn-outline-primary btn_customer"
                    onclick="window.location.href= '/fleet/customer-create/';">Create Customer</button>
                    <button type="button" class="btn btn-outline-success btn_contract"
                    onclick="window.location.href= '/fleet/contract-create/';">Create Contract</button>
                    <button type="button" class="btn btn-outline-warning btn_reservation"
                    onclick="window.location.href= '/fleet/reservation-create/';">Create reservation</button>
                    <button type="button" class="btn btn-outline-danger btn_report"
                    onclick="window.location.href= '/fleet/income-report/';">Income report</button>
                </div>
                <div class="linkholder" class="border border-primary" style="margin:80px 30px 40px 30px">


                    <table id="customer" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Phone number</th>
                                <th>Email</th>
                                <th>Date of birth</th>
                                <th>Passport No</th>
                                <th>System Note</th>
                                <th>Date of registration</th>
                                <th>Transactions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>id</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Phone number</th>
                                <th>Email</th>
                                <th>Date of birth</th>
                                <th>Passport No</th>
                                <th>System Note</th>
                                <th>Date of registration</th>
                                <th>Transactions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block page_script %}
<script>
    $(document).ready(function () {
        $.noConflict();
        var dataSet = [];
        {
        }
        $.ajax({
            url: 'http://127.0.0.1:8000/fleet/customer-json/',
            dataType: "json",
            error: function (request) {
                alert("Error " + request);
            },
            success: function (array) {
                for (var i = 0; i < array.length; i++) {
                    dataSet.push([array[i].id
                        , array[i].type
                        , array[i].first_name
                        , array[i].last_name
                        , array[i].phone_number
                        , array[i].email
                        , array[i].date_of_birth
                        , array[i].passport_no
                        , array[i].system_note
                        , array[i].created_at
                        , array[i].transactions
                    ]);
                }
                var table = $('#customer').DataTable({
                    data: dataSet,
                    responsive:true,
                    scrollX:200,
                });

                // $("#customer tbody").on("dblclick", 'tr', function () {

                //     var row = table.row(this).data();
                //     var id = row[0];
                //     // alert("id" + id);
                //     var url = 'http://192.168.5.121:8000/fleet/edit-customer/' + id;
                //     window.location.replace(url);
                // });
            }
        });
    });
</script>
{% endblock %}