{% extends 'layout.html' %}
{% load i18n %}
{% block content %}

<div class="card border border-primary bg bg-light">
    <div class="card-header bg-primary">
        <h3 class="text-white" style="text-align:center;">{% trans "INSTANT AVAILABILITY" %}</h3>
    </div>
    <div style="margin:20px;">
        <div class="row">
            <div class="col-md-3">
                <label class="form-label" for="vehicle" class="form-label">{% trans "Vehicle" %}</label>
                <select class="form-control" name="vehicle">
                {% for vehicle in vehicles %}
                <option>{{vehicle.vehicle_plate_number}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="vehicleModel" class="form-label">{% trans "Vehicle Model" %}</label>
                <select class="form-control" name="vehicleModel">
                {% for model in models %}
                <option>{{model.vehicle_model}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="vehicleBrand" class="form-label">{% trans "Vehicle Brand" %}</label>
                <select class="form-control" name="vehicleBrand">
                    {% for type in types %}
                    <option>{{type.type_name}}</option> 
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="vehicleType" class="form-label">{% trans "Vehicle Type" %}</label>
                <select class="form-control" name="VehicleType">
                    {% for brand in brands %}
                    <option>{{brand.brand_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label" for="year" class="form-label">{% trans "Year" %}</label>
                <select class="form-control" name="year">
                    {% for year in years %}
                    <option>{{year}}</option> 
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="month" class="form-label">{% trans "Month" %}</label>
                <select class="form-control" name="month">
                    {% for year_month in year_months %}
                    <option>{{year_month}}</option> 
                    {% endfor %}
                </select>
            </div>
        </div>
        
    </div>
    <div class="" style="margin:20px;">
    <table id="contract" class="table table-responsive" cellspacing="0" width="100%" style="margin:45px;padding:45px">
        <thead>
        <!--tr-->
            <th class="bg bg-primary border  border-primary text-white">{% trans "id" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Vehicle" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Customer" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Date of issue" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Return Date" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Time remaining" %}</th>
        <!--/tr-->
        </thead>
        <tfoot>
            <tr >
                <th class="bg bg-primary border  border-primary text-white">{% trans "id" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Vehicle" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Customer" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Date of issue" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Return Date" %}</th>
            <th class="bg bg-primary border  border-primary text-white">{% trans "Time remaining" %}</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>
    <div class="" style="margin:20px;">
        <table id="available" class="table table-responsive" cellspacing="0" width="100%" style="margin:45px;padding:45px">
            <thead>
            <!--tr-->
                <th class="bg bg-primary border  border-primary text-white">{% trans "id" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Vehicle" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Vehicle Model" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Region Location" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Vehicle status" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Transactions" %}</th>
            <!--/tr-->
            </thead>
            <tfoot>
                <tr >
                    <th class="bg bg-primary border  border-primary text-white">{% trans "id" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Vehicle" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Vehicle Model" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Region Location" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Vehicle status" %}</th>
                <th class="bg bg-primary border  border-primary text-white">{% trans "Transactions" %}</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
    
                </tr>
            </tbody>
        </table>
    </div>
    <div></div>
    <div></div>
</div>
{% endblock %}
{% block page_script %}
<script>
    $(document).ready(function () {
        $.noConflict();
        var dataSet = [];
        var dataSet_1=[];
        {
        }
        $.ajax({
            url: 'http://127.0.0.1:8000/fleet/instant-availability-json/',
            dataType: "json",
            error: function (request) {
                alert("Error " + request);
            },
            success: function (array) {
                for (var i = 0; i < array.length; i++) {
                    dataSet.push([array[i].id
                        , array[i].vehicle
                        , array[i].customer
                        , array[i].issue_date
                        , array[i].return_date
                        , array[i].time_remaining
                    ]);
                }
                var table = $('#contract').DataTable({
                    data: dataSet

                });

                
            }
        });
        $.ajax({
            url: 'http://127.0.0.1:8000/fleet/available-vehicle-json/',
            dataType: "json",
            error: function (request) {
                alert("Error " + request);
            },
            success: function (array) {
                for (var i = 0; i < array.length; i++) {
                    dataSet_1.push([array[i].id
                        , array[i].vehicle_plate_number
                        , array[i].vehicle_model
                        , array[i].region_location
                        , array[i].status
                        , array[i].transactions
                    ]);
                }
                var table = $('#available').DataTable({
                    data: dataSet_1

                });

                
            }
        });
    });
</script>
{% endblock %}
{% block extra_css %}
    i{
        background-color:white;
    }
{% endblock %}